* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  background-image: url(/images/header.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  padding: 4rem;
}

.header-texts-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  color: white;
}

.header-kicker {
  background-color: darkblue;
  padding: 0.5rem 1rem;
  width: fit-content;
  text-transform: uppercase;
}

.header-title {
  font-size: 5rem;
  word-spacing: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 4rem;
}

